body{
 
}

p{
    font-family: 'Roboto', sans-serif;
}
 /* containers*/

.container-fluid{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}
.navbar-container{
    position: fixed;
    width: 100%;
    z-index:10;  
}

.callout-container-fluid{
    height: 90vh;
    width: 100%;
    background: url("../images/bombay-groove-color.JPG") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
    font-family: 'Bebas Neue', cursive;
    position: relative;
   }

.about-us-container{
   padding: 3rem;
   }

.showreel-container{}

.quotes-container{
    background: #ff4f4f;;
    opacity: 0.75;    
    padding: 3rem;
    }
    

/* End of Containers */

/* Navbar */

.navbar{
    font-family: 'Bebas Neue', cursive;
}
/* Jumbotron */

.jumbotron {
    background-color: transparent;
    font-family: 'Bebas Neue', cursive;
    color: white;
    position: relative;
}

.jumbotron-header {
    font-size: 4rem;
}
/* About Us */

.about-us-header{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.about-us p {
    font-family: 'Roboto', sans-serif;
    text-justify: center;
}

/* Quotes */

.quotes-header{
     font-family: 'Bebas Neue', cursive;
     text-align: center;
     color: white;
     
}

.quotes p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-justify: center;
    color: white;
} 

/* Special Margins and Padding */

.about-us,
.quotes{
    padding: 3rem 2rem;
}

.about-us-header,
.quotes-header {
    padding-top: 0;
    padding-bottom: 3rem;
}

/* Footer */

footer {
    background-color: #212529;
    color: white;
    font-family: 'Bebas Neue', cursive;
    min-height: 50px; 
}

/* Social Links */

.social-links{ 
    text-align: center;
    padding-top: 15px;
}

.social-links li {
    margin: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 15px 0;
    border-radius: 50%;
    line-height:4px;
    text-align: center;
   /* text-justify: center; */
    color: #212529;
    background: white;
}


/*
@media screen and (max-width: 600px){
    .callout-container-fluid{
        position: 
        background:#b94c58 no-repeat center center fixed;
        background-size: contain; */
        background: url("../images/bombay-groove-color.JPG") no-repeat;
    background-size: contain;
    }

}
*/

@media screen and (max-width:600px){
    .about-us-header
    .quotes-header{
        padding-top: 0;
    }
}

/*--------------------------------------Watch/Listen------------------------------------*/


/* showreel */

.showreel{
    
}

/* Watch-Listen */

.watch-listen-header{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 6rem;
    padding-bottom: 0;
    margin-top: 3rem;
    font-size: 4rem;
}

. {
    text-justify: center;
}
/*
.watch-listen-container{
    height: 90vh;
    width: 100%;
    background: url("../images/bombay-groove-color.JPG") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    opacity: 0.1;
}
*/
/*
.watch-listen-container-fluid{
    background: url("../images/flower-wall.jpg") no-repeat center center fixed;
    
}
*/